################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FileToByte
/FileToByte/x64/Debug
/x64/Debug
/FileToByte/Debug
/FileToByte/x64/Release
/x64/Release
