name: Build and Release

on:
  push:
    branches:
      - main
    paths:
      - 'source/**'
      - 'CMakeLists.txt'

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          
      - name: Install Vulkan SDK
        run: |
          Invoke-WebRequest -Uri "https://sdk.lunarg.com/sdk/download/latest/windows/vulkan_sdk.exe" -OutFile .\vulkan_sdk.exe
          .\vulkan_sdk.exe --accept-licenses --default-answer --confirm-command install

      - name: Configure for windows
        run: |
          Invoke-WebRequest https://vulkan.lunarg.com/sdk/latest/windows.json -OutFile windows.json
          $env:VULKAN_VERSION = (Get-Content windows.json | ConvertFrom-Json).windows
          $env:VULKAN_SDK = "C:\VulkanSDK\$env:VULKAN_VERSION"
          $env:VK_SDK_PATH = "C:\VulkanSDK\$env:VULKAN_VERSION"
          $env:Vulkan_LIBRARY = "C:\VulkanSDK\$env:VULKAN_VERSION\Lib\vulkan-1.lib"
          $env:Vulkan_INCLUDE_DIR = "C:\VulkanSDK\$env:VULKAN_VERSION\Include"
          Import-Module $env:ChocolateyInstall\helpers\chocolateyProfile.psm1
          refreshenv
          cmake -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build release
        run: cmake --build build --config Release
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: windows-latest
          path: build/Release/FileToByte.exe

  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Update packages
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-multilib g++-multilib libglfw3-dev vulkan-tools libvulkan-dev libxkbcommon-dev libxinerama-dev libxcursor-dev libxi-dev

      - name: Configure for linux
        run: cmake -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build release
        run: cmake --build build --config Release
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ubuntu-latest
          path: build/FileToByte

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [build-windows, build-linux]

    steps:
      - uses: actions/checkout@v6

      - name: Download Linux Artifact
        uses: actions/download-artifact@v7
        with:
          name: ubuntu-latest

      - name: Download Windows Artifact
        uses: actions/download-artifact@v7
        with:
          name: windows-latest

      - name: Release Build
        uses: softprops/action-gh-release@v2
        with:
          name: Release
          tag_name: ${{ github.run_id }}
          body: |
            **This release has been built by Github Actions**
            [Link to build](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
          files: |
            FileToByte
            FileToByte.exe
